@page "/"
@using Azure.Storage.Blobs
@using Azure.Storage.Blobs.Models
@inject BlobServiceClient BlobServiceClient

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@foreach (var item in blobs)
{
	<p>@item.Name</p>
}

@code {
	private IEnumerable<BlobItem> blobs;
	protected override async Task OnInitializedAsync()
	{
		var containerClient = BlobServiceClient.GetBlobContainerClient("images");
		blobs = containerClient.GetBlobs().ToList();
	}
}